*{
    box-sizing: border-box;
}
body{
    margin:0;
    background-image: url('img.jpg');
    background-size: cover;
    min-height: 100vh;
    background-position: center center;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    font-weight:normal;
    font-size: 4rem;
    margin-top:5rem;
    text-align: center;
}
.countdown-container{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}
.big-text{
    font-weight: bold;
    font-size:6rem;
    margin:1rem 2rem;
    line-height: 1;
}
.countdown-el
{
    text-align: center;
    background-color:rgb(132, 173, 197);
}
.countdown-el span
{
    font-size: 1.3rem;
}